/* This is the .less I need for my project.  Mileage may vary. */
.input-wrapper {
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline; /* ie6&7 */
    zoom: 1;
    background: #FFF;
    vertical-align: top;

    input,
    textarea {
        position: relative;
        z-index: 2;
        background: transparent;
        margin: 0;
    }

    label {
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 0;
        height: 1em;
        margin-top: -.5em;
        text-align: left;
        font-size: 1em;
        color: #AAA;
        overflow: hidden;
        padding-left: 14px;
        cursor: text;
    }

    &.input-wrapper.focus label {
        opacity: 0.6;
    }

    &.input-wrapper.filled label {
        display: none;
    }
}